<!-- Modal for session expiry -->
<div class="modal fade" id="connection-failed" data-backdrop="static" tabindex="-1" aria-labelledby="connection-failed" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="session-expired-label">Connection Failed</h5>
				<span class="mt-2 mt-md-0">
				</span>
			</div>
			<div class="modal-body">
				<p>There was an error retrieving data from the server.  If the problem persists, please contact the GilbyIM support team.</p>
			</div>
			<div class="modal-footer">
				<button id="reauthenticate-button" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>