<!-- Modal for upload progress -->
<div class="modal fade" id="drag-and-drop-error" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="upload-status" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<span class="mt-2 mt-md-0">
				</span>
			</div>
			<div class="modal-body">
				<p>Only one file can be dropped here.</p>
			</div>
			<div class="modal-footer">
				<button id="drag-and-drop-error-ok-button" type="button" class="btn btn-green">OK</button>
			</div>
		</div>
	</div>
</div>