<!-- Dummy Modal - displays overlay while waiting for top-level classification to load -->
<div class="modal fade" id="dummy-modal" data-backdrop="static" tabindex="-1" aria-labelledby="dummy-modal" aria-hidden="true">
	<div class="modal-dialog"></div>
</div>