<!-- Modal for folder creation progress -->
<div class="modal fade" id="edit-properties-error" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-properties-status" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="create-folder-label">Edit Properties Error</h5>
				<span class="mt-2 mt-md-0">
				</span>
			</div>
			<div class="modal-body">
				<p id="edit-properties-caption">Saving... </p>
				<div class="progress">
					<div id="edit-properties-progress-bar" class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="edit-properties-error-ok-button" type="button" class="btn btn-green">OK</button>
			</div>
		</div>
	</div>
</div>