<!-- Loading Spinner - displays overlay while waiting for top-level classification to load -->
<div class="modal fade" id="loading" data-backdrop="static" tabindex="-1" aria-labelledby="loading" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered text-center">
		<span class="fa fa-spinner fa-spin fa-3x w-100"></span>
	</div>
</div>