<!-- Modal for session expiry -->
<div class="modal fade" id="session-expired" data-backdrop="static" tabindex="-1" aria-labelledby="session-expired" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="session-expired-label">Session Expired</h5>
				<div class="mt-2 mt-md-0">
					<img src="img/gilbyim_logo.png" style="height:25px;">
				</div>
			</div>
			<div class="modal-body">
				<p>Your session has expired.  You will need to sign in again before you can continue.</p>
			</div>
			<div class="modal-footer">
				<button id="reauthenticate-button" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>