<!-- Modal for upload progress -->
<div class="modal fade" id="upload-status" data-backdrop="static" tabindex="-1" aria-labelledby="upload-status" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="upload-status-label">Upload Status</h5>
				<span class="mt-2 mt-md-0">
				</span>
			</div>
			<div class="modal-body">
				<p id="upload-status-caption">Uploading...</p>
				<div class="progress">
					<div id="upload-progress-bar" class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="upload-status-ok-button" type="button" class="btn btn-green" style="display:none">OK</button>
			</div>
		</div>
	</div>
</div>