<div id="upload-form-container" class="upload-form-hidden" style="margin-left:30px;margin-right:30px;">
	<br>
	<h1 class="text-center display-4" style="color:#000033;font-size:1.75rem;">Add a document to this folder?</h1>
	<br>
	<form id="upload-form" autocomplete="off">
		<label for="record-type-input" class="display-4" style="color:#000033;font-size:1.25rem;">File</label>
		<div id="upload-form-file-container" class="custom-file mb-3">
			<input id="upload-form-file" name="upload" type="file" class="custom-file-input" id="validatedCustomFile">
			<label id="upload-form-file-label" class="custom-file-label" for="upload-form-file">Choose file...</label>
		</div>
		<div class="mb-3">
			<label for="upload-form-record-title" class="display-4" style="color:#000033;font-size:1.25rem;">Record Title</label>
			<input id="upload-form-record-title" class="form-control" type="text" maxlength="254">
		</div>
		<div class="mb-3">
			<label for="upload-form-record-container" class="display-4" style="color:#000033;font-size:1.25rem;">Folder</label>
			<input id="upload-form-record-container" class="form-control" type="text" data-record-uri="" readonly>
		</div>
		<div class="form-group">
		  <label for="upload-form-record-type" class="display-4" style="color:#000033;font-size:1.25rem;">Record Type</label>
		  <select id="upload-form-record-type" class="form-control">
			
		  </select>
		</div>
	</form>
	<br>
	<button id="upload-button" class="btn btn-indigo">Add</button>
</div>			
	