# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/ajax-example.js
/server-certs/
/https-auth/api-client-cert.pem
/https-auth/spi-client-key.pem
/modules/https-auth/api-client-cert.pem
/modules/https-auth/api-client-key.pem
/.env