<div class="row" style="margin-top:56px;height:100%;">
	<div class="col-3" style="background-color:#75b540;color:white;height:100%;overflow:auto;overflow-x:hidden;">
		<div id="classification-treeview" style="padding-top:30px;">
			<ul style="list-style-type:none;margin-left:-10px;">
				<li id="all-files"><span class='collapsed'></span><span class='folder'></span><span class='all-files'><a>All Files</a></span><ul style="list-style-type:none;"></ul></li>
				<li id="favourites"><span class='collapsed'></span><span class='star'></span><span class='favourites'><a>Favourites</a></span></li>
				<li id="recents"><span class='collapsed'></span><span class='clock-history'></span><span class='recents'><a>Recents</a></span></li>
			</ul>
		</div>
	</div>
	<div class="col-6" style="background-color: #fff;">
		<div style="height:65%;text-align:center;padding:30px;color:grey;overflow:auto;overflow-x:hidden;">
			<p>This will be the records list pane.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a dui convallis, eleifend elit id, feugiat risus. Nam accumsan luctus laoreet. Aenean varius et dolor id gravida. Nam id dapibus orci. Donec lobortis odio nec sem fringilla, eu eleifend sem aliquam. Pellentesque ultricies ante lacus, id commodo ex ultrices ut. Cras eu tristique felis.</p>
			<p>Vivamus at nunc a massa tincidunt pretium eget a nisl. Nulla pellentesque convallis ligula et auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque non nisl pellentesque, consequat tellus vel, vehicula erat. Nunc non massa sit amet nibh condimentum euismod eget in dui. Nullam in tortor turpis. Ut libero dui, convallis vel suscipit quis, imperdiet sit amet ligula. Mauris condimentum, elit non ullamcorper porttitor, lorem erat congue erat, sed dignissim purus ipsum vel lacus. In hac habitasse platea dictumst. Suspendisse potenti. Nam dapibus nec nulla eu dignissim. Sed pulvinar, leo at iaculis vehicula, turpis ligula euismod dolor, vitae porttitor orci nibh quis orci. In non lacus libero.</p>
			<p>Quisque nec arcu sit amet urna varius egestas. Integer dapibus ut risus id porttitor. Integer condimentum odio lorem, ut ullamcorper leo gravida sit amet. Nulla eu tincidunt nibh. Ut vitae felis erat. Phasellus sollicitudin felis ut sapien finibus lobortis. Phasellus hendrerit nunc nec enim varius, eu elementum massa luctus.</p>
			<p>Cras tristique quam nec augue cursus, eu mollis erat tristique. Aenean pharetra et turpis sed pellentesque. Vivamus odio dolor, dignissim eu egestas et, pretium id magna. Ut luctus malesuada lacus, vel sagittis lectus volutpat id. Quisque ornare mi id turpis aliquet tempor. Nulla eget dui vitae felis egestas mollis sit amet sed nibh. Vivamus tempus eleifend euismod. Duis massa sapien, ullamcorper in commodo vel, mollis eget erat.</p>
			<p>Suspendisse scelerisque hendrerit viverra. Pellentesque porttitor elit quis massa commodo finibus. Donec hendrerit nisl nec porttitor lobortis. Duis eu quam quis dolor sagittis hendrerit quis nec tellus. Curabitur neque elit, sollicitudin vel purus nec, dictum vehicula turpis. Fusce auctor imperdiet ipsum, sed finibus purus hendrerit sed. Duis auctor lectus ut erat tincidunt, sed hendrerit tellus porttitor. Duis vitae auctor erat. Nunc velit orci, cursus eu tincidunt a, dictum sed dolor. Aenean eu sollicitudin dolor. Aenean blandit odio ut aliquam vestibulum.</p>
		</div>
		<div style="height:35%;text-align:center;padding:30px;overflow:auto;overflow-x:hidden;">
			<div style="border-top: solid 1px grey;">
					<p>This will be the properties pane.</p>



				
			</div>
		</div>
			
	</div>

	<div class="col-3" style="height:100%;padding:30px">
		<div style="height:100%;overflow:auto;overflow-x:hidden;">
			<a class="twitter-timeline" href="https://twitter.com/RT_GilbyIM?ref_src=twsrc%5Etfw">Tweets by GilbyIM</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>