<div class="row" style="margin-top:56px;height:100%;">
	<div class="col-3" id="left-panel">
		<div id="classification-treeview" style="padding-top:30px;">
			<ul style="list-style-type:none;margin-left:-10px;display:inline-block;">
				<li id="favourites"><span class='collapsed'></span><span class='star'></span><span class='favourites'><a>Favourites</a></span></li>
				<li id="recents"><span class='collapsed'></span><span class='clock-history'></span><span class='recents'><a>Recents</a></span></li>
				<li id="all-files"><span class='collapsed'></span><span class='folder'></span><span class='all-files'><a>All Files</a></span><ul style="list-style-type:none;"></ul></li>
			</ul>
		</div>
	</div>
	<div class="col-6" style="background-color: #fff;height:100%; padding:0;">
		<div id="records-list-pane" style="height:80%;text-align:center;overflow:auto;overflow-x:hidden;">
		</div>
		<div id="properties-pane" style="text-align:center;overflow:auto;overflow-x:hidden;">
		</div>
	</div>
	<div class="col-3" style="height:100%;padding:20px;background-color:#bbbbbb;">
		<div style="height:100%;">
			<%- include('./partials/upload-form.ejs') %>
			<%- include('./partials/new-folder-form.ejs') %>
			<%- include('./partials/new-sub-folder-form.ejs') %>
		</div>
	</div>
		<!--<div style="height:100%;overflow:auto;overflow-x:hidden;">
			<a class="twitter-timeline" href="https://twitter.com/RT_GilbyIM?ref_src=twsrc%5Etfw">Tweets by GilbyIM</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>-->
	</div>
</div>