<div class="row" style="margin-top:56px;height:100%;">
	<div class="col-3" id="left-panel">
		<div id="classification-treeview" style="padding-top:30px;">
			<ul style="list-style-type:none;margin-left:-10px;display:inline-block;">
				<li id="favourites"><span class='collapsed'></span><span class='star'></span><span class='favourites'><a>Favourites</a></span></li>
				<li id="recents"><span class='collapsed'></span><span class='clock-history'></span><span class='recents'><a>Recents</a></span></li>
				<li id="all-files"><span class='collapsed'></span><span class='folder'></span><span class='all-files'><a>All Files</a></span><ul style="list-style-type:none;"></ul></li>
			</ul>
		</div>
	</div>
	<div class="col-6" style="background-color: #fff;height:100%; padding:0;overflow:hidden;">
		<div id="records-list-pane" style="height:75%;text-align:center;overflow:auto;overflow-x:hidden;">
			<table id="grid" class="table table-sm">
				<thead style="background-color:#ffffff;">
					<tr>
						<th>Cat</th>
						<th id="th-type" data-type="string" class="unsorted">Type</th>
						<th id="th-record-number" data-type="string" class="sorted-down">Record Number</th>
						<th id="th-record-title" style="text-align:left;" data-type="string" class="unsorted">Title</th><th id="th-date-registered" data-type="string" class="unsorted">Date Registered</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody style="overflow-y: auto;">
					<tr id="record-uri-1839" class="record-row" data-record-title="Records Transformation Logo - Stacked - Dark" data-record-extension="PNG" data-record-mime-type="image/png">
						<td><span class="expanded-green"></span><span class="folder-green"></span></td>
						<td><span class="fiv-viv fiv-icon-blank fiv-icon-png" arial-label="PNG Icon"></span></td><td>D20/211</td><td style="text-align:left;">Records Transformation Logo - Stacked - Dark</td><td>07/12/2020</td>
						<td><span class="download-grey"></span></td>
					</tr>
					<tr id="record-uri-1840" class="record-row" data-record-title="Records Transformation PowerPoint Template" data-record-extension="PPTX" data-record-mime-type="application/vnd.openxmlformats-officedocument.presentationml.presentation">
						<td>On</td>
						<td><span class="fiv-viv fiv-icon-blank fiv-icon-pptx" arial-label="PPTX Icon"></span></td><td>D20/212</td>
						<td style="text-align:left;">Records Transformation PowerPoint Template</td><td>07/12/2020</td><td><span class="download-grey"></span></td>
					</tr>
					<tr id="record-uri-1841" class="record-row" data-record-title="G-Cloud 12 Rate Card" data-record-extension="DOCX" data-record-mime-type="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
						<td>Mat</td>
						<td><span class="fiv-viv fiv-icon-blank fiv-icon-docx" arial-label="DOCX Icon"></span></td><td>D20/213</td>
						<td style="text-align:left;">G-Cloud 12 Rate Card</td><td>07/12/2020</td>
						<td><span class="download-grey"></span></td>
					</tr>
					<tr id="record-uri-1842" class="record-row" data-record-title="GilbyIM Service Definition" data-record-extension="PDF" data-record-mime-type="application/pdf">
						<td>Shat</td>
						<td><span class="fiv-viv fiv-icon-blank fiv-icon-pdf" arial-label="PDF Icon"></span></td><td>D20/214</td><td style="text-align:left;">GilbyIM Service Definition</td>
						<td>07/12/2020</td>
						<td><span class="download-grey"></span></td>
					</tr>
					<tr id="record-uri-1843" class="record-row" data-record-title="Draft Service Definition" data-record-extension="INDD" data-record-mime-type="">
						<td>That</td>
						<td><span class="fiv-viv fiv-icon-blank fiv-icon-indd" arial-label="INDD Icon"></span></td><td>D20/215</td>
						<td style="text-align:left;">Draft Service Definition</td><td>07/12/2020</td>
						<td><span class="download-grey"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="properties-pane" style="height:26%;text-align:center;overflow:auto;overflow-x:hidden;background-color:#343a40;position:relative;">
			
			<img id="properties-pane-logo" src="img/gilbyim-logo-inline-white.png" style="maxheight:100%;maxwidth:100%;width:auto;height:auto;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;">
			
		</div>
	</div>
	<div class="col-3" style="height:100%;padding:20px;background-color:#bbbbbb;">
		<div style="height:100%;">
			<!--<div style="height:100%;overflow:auto;overflow-x:hidden;">
				<a class="twitter-timeline" href="https://twitter.com/RT_GilbyIM?ref_src=twsrc%5Etfw">Tweets by GilbyIM</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>-->
			<%- include('./partials/upload-form.ejs') %>
			<%- include('./partials/new-folder-form.ejs') %>
			<%- include('./partials/new-sub-folder-form.ejs') %>
		</div>
	</div>

	</div>
</div>