<h1 class="mt-5">Moonshot!</h1>
<p class="lead">This is the future of GilbyIM!</p>
<p class="lead">Features:</p>
<ul>
	<li>Client Certificate Authentication for secure connectivity to the GilbyIM Content Manager API server.</li>
	<li>Basic Authentication inside the above SSL tunnel to provide user-based Authorization.</li>
	<li>Returns actual Classification data from the GilbyIM API server - https://api.gilbyim.com.</li>
	<li>Built using a modern web framework - Express and Express EJS Layouts.</li>
	<li>Responsive HTML and CSS using Bootstrap.</li>
	<li>No hideous, performance-impacting, recursive JavaScript just to manipulate the look and feel, and layout.</li>
</ul>
<p>&nbsp;</p>

<p class="lead">The following is Classification data directly pulled from the GilbyIM test dataset:</p>

<div id="classification-treeview" style="color: green;">
	<ul>
	</ul>

</div>
<p>&nbsp;</p>

<p class="lead">Things to do:</p>
<ul>
	<li>Containerization (Docker).</li>
	<li>Continuous Integration Pipeline.</li>
	<li>Integration with GilbyIM Single Sign-On.</li>
	<li>Branding.</li>
	<li>All the actual functionality.</li>
</ul>
<p>&nbsp;</p>
