<div class="row" style="margin-top:56px;height:100%;">
	<div class="col-3" style="background-color:#75b540;color:white;height:100%;overflow:auto;white-space:nowrap;">
		<div id="classification-treeview" style="padding-top:30px;">
			<ul style="list-style-type:none;margin-left:-10px;display:inline-block;">
				<li id="all-files"><span class='collapsed'></span><span class='folder'></span><span class='all-files'><a>All Files</a></span><ul style="list-style-type:none;"></ul></li>
				<li id="favourites"><span class='collapsed'></span><span class='star'></span><span class='favourites'><a>Favourites</a></span></li>
				<li id="recents"><span class='collapsed'></span><span class='clock-history'></span><span class='recents'><a>Recents</a></span></li>
			</ul>
		</div>
	</div>
	<div class="col-6" style="background-color: #fff;height:100%; padding:0;">
		<div id="records-list-pane" style="height:80%;text-align:center;margin-top:15px;padding-left: 30px;paddding-right:30px;overflow:auto;overflow-x:hidden;">
		</div>
		<div id="properties-pane" style="text-align:center;overflow:auto;overflow-x:hidden;">
		</div>
	</div>
	<div class="col-3" style="height:100%;padding:30px;background-color:#dedede;">
		<div style="height:100%;overflow:auto;">

			<form>
				<label for="record-type-input">Document</label>
				<div class="custom-file mb-3">
					<input id="upload-form-file" name="upload" type="file" class="custom-file-input" id="validatedCustomFile">
    				<label id="upload-form-file-label" class="custom-file-label" for="upload-form-file">Choose file...</label>
  				</div>
				<div class="mb-3">
					<label for="upload-form-record-title">Record Title</label>
					<input id="upload-form-record-title" class="form-control" type="text">
				</div>
				<div class="mb-3">
					<label for="upload-form-record-container">Container</label>
					<input id="upload-form-record-container" class="form-control" type="text" readonly>
				</div>
				<div class="form-group">
				  <label for="upload-form-record-type">Record Type</label>
				  <select id="upload-form-record-type" class="form-control" readonly>
					<option>Schools Document</option>
				  </select>
				</div>

				<button type="submit" class="btn btn-primary">Submit</button>

			</form>
		
		</div>
	</div>
		<!--<div style="height:100%;overflow:auto;overflow-x:hidden;">
			<a class="twitter-timeline" href="https://twitter.com/RT_GilbyIM?ref_src=twsrc%5Etfw">Tweets by GilbyIM</a>
			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>-->
	</div>
</div>