<h1 class="mt-5">Moonshot!</h1>
<p class="lead">This is the future of GilbyIM!</p>

<p class="lead">Classification Tree:</p>
<div class="row">
	<div id="classification-treeview" class="span4" style="color: green;">
		<ul style="list-style-type:none;">
		</ul>
	</div>



</div>
<p class="lead">Details Pane:</p>
<div id="details-panel" style="color: green;">
	<table style="width: 100%;">
	<tr>
		<td id="classificationNameName" style="width: 25%;">Classification Name</td>
		<td id="classificationNameValue" style="width: 75%;"></td>
	</tr>
	<tr>
		<td id="classificationAccessControlName" style="width: 25%;">Access Controls</td>
		<td id="classificationAccessControlValue" style="width: 75%;"></td>
	</tr>
	<tr>
		<td id="classificationCanAttachRecordsName" style="width: 25%;">Can Attach Records?</td>
		<td id="classificationCanAttachRecordsValue" style="width: 75%;"></td>
	</tr>
	</table>


</div>
<p>&nbsp;</p>

<p class="lead">Things to do:</p>
<ul>
	<li>Containerization (Docker).</li>
	<li>Continuous Integration Pipeline.</li>
	<li>Integration with GilbyIM Single Sign-On.</li>
	<li>Branding.</li>
	<li>All the actual functionality.</li>
</ul>
<p>&nbsp;</p>
