#left-panel{
	/*background-color: #75b540;*/
	background-color: #35812C;
	color: white;
	height: 100%;
	overflow: auto;
	white-space: nowrap;
}

#right-panel{
	/*background-color: #75b540;*/
	background-color: #bbbbbb;
	color: #000033;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}



#classification-treeview ul{
	padding-inline-start: 0px;
}

#classification-treeview a{
	/*color: green;*/
}

#classification-treeview ul li ul{
	padding-inline-start: 24px;
}

.collapsed{
  	display: inline-block;
	text-align: center;
  	content: "";
  	background-image: url("../img/bootstrap-icons/caret-right.svg");
	background-size: cover;
  	background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}


.expanded{
  display: inline-block;
	text-align: center;
  content: "";
  background-image: url("../img/bootstrap-icons/caret-down.svg");
	 background-size: cover;
  background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}


.classification-hidden {
	display: none;
}

.node-selected > span.classification-name {
	font-weight: bold;
}

.node-selected > .collapsed {
	background-image: url("../img/bootstrap-icons/caret-right-fill.svg");
}

.node-selected > .expanded {
	background-image: url("../img/bootstrap-icons/caret-down-fill.svg");
}

.node-selected > span.record-title {
	font-weight: bold;
}

.row-selected {
	font-weight: bold;
	/*color: #75b540;*/
}

.row-selected-green {
	font-weight: bold;
	color: #75b540;
}



.record-row:hover {
	/*text-decoration: underline;*/
	/*cursor: pointer;	*/
}

.record-row>td{
	cursor: default;
}

.folder{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/folder.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.folder-open{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/folder2-open.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.folder-fill{
	display: inline-block;
  	content: "";
  	/*background-image: url("../img/bootstrap-icons/folder-fill.svg");*/
	background-image: url("../img/bootstrap-icons/folder.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}


.star{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/star.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.clock-history{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/clock-history.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.download{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/download.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
	cursor: pointer;
}

.favourites{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.favourites:hover{
	text-decoration: underline;
	cursor: pointer;
}
.all-files{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.all-files:hover{
	text-decoration: underline;
	cursor: pointer;
}
.recents{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.recents:hover{
	text-decoration: underline;
	cursor: pointer;
}


.classification-name{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right:30px;
}

.classification-name:hover{
	text-decoration: underline;
	cursor: pointer;
}
.record-title{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right:30px;
}

.record-title:hover{
	text-decoration: underline;
	cursor: pointer;
}

.upload-form-hidden{
	display: none;
}

.new-folder-form-hidden{
	display: none;
}

.new-sub-folder-form-hidden{
	display: none;
}

/* File icon vectors - override standard size. */
.fiv-viv{
	font-size: 24px;
}
#records-list-pane{
	margin-top: -1px;
}

#records-list-pane>table>thead>tr>th{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #dedede;
	cursor: default;
}


th.unsorted::after{
	content: " \f0dc";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem;
	cursor: pointer;
}

th.sorted-down::after{
	content: " \f0dd";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem;
	cursor: pointer;
}

th.sorted-up::after{
	content: " \f0de";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 1rem;
	cursor: pointer;
}

#properties-pane{
	margin-top: 0px;
}

#properties-pane>table>thead>tr>th{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #343a40;
	cursor: default;
	text-align:left;
	padding-left:30px;
}

#properties-pane>table>tbody>tr>td{
	text-align:left;
}

#properties-pane>table>tbody{
	overflow-y: auto;
}

/* #### SEARCH RESULTS #### */
#search-results-pane{
	margin-top: -1px;
}

#search-results>thead>tr>th{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #dedede;
	cursor: default;
}

#search-results>tbody{
	overflow-y: auto;
}

#search-results>tbody>tr>td{
	text-align: left;
}

#search-results>tbody ul{
	list-style-type:none;
	margin:0;
	display:inline:block;
	font-size:0;
	padding: 0;
}

#search-results>tbody li{
	font-size: 1rem;
	height: 30px;
	/*margin-left:12px;*/
	overflow: hidden;
	cursor: default;
}

#search-results>tbody>tr>td>ul>ul{
	padding-left: 17px;
}

#search-results>tbody>tr>td>ul>ul>ul{
	padding-left: 17px;
}
#search-results>tbody>tr>td>ul ul>li{
	font-style: italic;
}

.search-result-caret-collapsed{
	display: inline-block;
	text-align: center;
  	content: "";
  	background-image: url("../img/bootstrap-icons/caret-right-green.svg");
	background-size: cover;
  	background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}

.search-result-caret-expanded{
	display: inline-block;
	text-align: center;
  	content: "";
  	background-image: url("../img/bootstrap-icons/caret-down-green.svg");
	background-size: cover;
  	background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}

.search-result-folder{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/folder-green.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.search-result-folder-open{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/folder2-open-green.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}





.download-white{
  	display: inline-block;
  	content: "";
	background-color: #75b540;
  	background-image: url("../img/bootstrap-icons/download-white.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
	cursor: pointer;
}
.search-result-green{
	color: #75b540;
}


.download-grey{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/download-grey.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
	cursor: default;
}

.download-green{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bootstrap-icons/download-green.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
	cursor: default;
}


.file-earmark-grey{
  display: inline-block;
	text-align: center;
  content: "";
  background-image: url("../img/bootstrap-icons/file-earmark-grey.svg");
	 background-size: cover;
  background-repeat: no-repeat;
	width: 24px;
    height: 24px;
}
.file-earmark{
  display: inline-block;
	text-align: center;
  content: "";
  background-image: url("../img/bootstrap-icons/file-earmark.svg");
	 background-size: cover;
  background-repeat: no-repeat;
	width: 24px;
    height: 24px;
}




.no-records{
	padding-top: 35%;
	font-size:1.25rem;
}

#properties-pane-logo{
	max-width: 45%;
    /* max-height: 80%; */
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


    .custom-control-label:before{
       /* background-color:red;*/
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color: #35812C;
		border-color: #35812C;
    }
   /* .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
        background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='red' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }*/

.custom-control-input:not(:disabled):active~.custom-control-label::before {
	background-color: white;
	border-color: white;
}

.properties-edit-record-title{

}
   
.edit-properties-link{
	text-align: right !important;
	padding-right: 30px !important;
	width: 10%;
}

.edit-properties-link>a{
	color: #FFF;
	text-decoration: underline;
}

#drop-zone{
	width: 100%;
	height:100px;
	color:#fff;
	background-color: #555;
	border: 1px solid #75b540;
	border-radius: 0.25rem;
	margin-bottom:1rem;
}

#x-icon{
	display: inline-block;
	text-align: center;
	content: "";
	background-image: url("../img/bootstrap-icons/x.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 24px;
    height: 24px;
}



/* DATA ENTRY FORM DEFINITION */

/* NAV TABS */
.data-entry-form-tabs .nav-tabs {
    /* Remove white border at the botttom of the nav-tabs */
	border-bottom: 1px solid #000033;
}

.data-entry-form-tabs .nav-link{
	color: #000033;
	border: none;
}

.data-entry-form-tabs .nav-link:hover, .data-entry-form .nav-link:focus{
	color: #000033;
	text-decoration: underline;
}

.data-entry-form-tabs .nav-link.active{
	background-color: #bbbbbb;
	color: #000033;
	border-top: 1px solid #000033;
	border-left: 1px solid #000033;
	border-right: 1px solid #000033;
	border-bottom: 1px solid #bbbbbb;
}

.data-entry-form-tabs .nav-link.active:hover{
	cursor: default;
	text-decoration: none;
}

.data-entry-form-tabs .nav-link.disabled{
	border-bottom: 1px solid #000033;
}