#classification-treeview ul{
	padding-inline-start: 0px;
}

#classification-treeview a{
	/*color: green;*/
}

#classification-treeview ul li ul{
	padding-inline-start: 24px;
}

.collapsed{
  	display: inline-block;
	text-align: center;
  	content: "";
  	background-image: url("../img/bs-icons/caret-right.svg");
	background-size: cover;
  	background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}


.expanded{
  display: inline-block;
	text-align: center;
  content: "";
  background-image: url("../img/bs-icons/caret-down.svg");
	 background-size: cover;
  background-repeat: no-repeat;
	width: 24px;
    height: 24px;
	margin-left: 17px;
}

.classification-hidden {
	display: none;
}

.node-selected > span.classification-name {
	font-weight: bold;
}

.node-selected > .collapsed {
	background-image: url("../img/bs-icons/caret-right-fill.svg");
}

.node-selected > .expanded {
	background-image: url("../img/bs-icons/caret-down-fill.svg");
}

.node-selected > span.record-title {
	font-weight: bold;
}

.row-selected {
	font-weight: bold;
	color: #75b540;
}
.record-row:hover {
	/*text-decoration: underline;*/
	cursor: pointer;	
}


.folder{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/folder.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.folder-open{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/folder2-open.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.folder-fill{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/folder-fill.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}


.star{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/star.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.clock-history{
	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/clock-history.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.file-earmark{
  	/*display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/shamrock.svg");
	background-image: url("../img/icons/file-earmark.svg");*/
	background-image: url("../img/fiv-icons/pdf.svg");
	font-size: .25em;
	/*background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;*/
}

.file-earmark-green{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/file-earmark-green.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}


.download-green{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/download-green.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.download{
  	display: inline-block;
  	content: "";
  	background-image: url("../img/bs-icons/download.svg");
	background-size: cover;
	background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}



.favourites{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.favourites:hover{
	text-decoration: underline;
	cursor: pointer;
}
.all-files{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.all-files:hover{
	text-decoration: underline;
	cursor: pointer;
}
.recents{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.recents:hover{
	text-decoration: underline;
	cursor: pointer;
}


.classification-name{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right:30px;
}

.classification-name:hover{
	text-decoration: underline;
	cursor: pointer;
}
.record-title{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-right:30px;
}

.record-title:hover{
	text-decoration: underline;
	cursor: pointer;
}
