/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Layout
-------------------------------------------------- */
.navbar-dark{
	background-color: #000033 !important;
}

#site-logo{
	display: inline-block;
	height: 56px;
	width: 56px;
	background-image: url("../img/rt_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	margin-top: -.5rem;
	margin-bottom: -.5rem;
	margin-left: -.5rem;
}

#left-panel{
	background-color: #35812C;
}

#right-panel{
	background-color: #bbbbbb;
}

.footer {
  background-color: #555 !important;
}

/* Modals
-------------------------------------------------- */

.modal-header>span{
	display: inline-block;
	height: 25px;
	width: 150px;
	background-image: url("../img/gilbyim_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}


/* Buttons
-------------------------------------------------- */
.btn-indigo {
	color: #fff;
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:active {
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:focus {
	background-color: #000033;
	border-color: #000033;
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-indigo:visited {
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:hover {
	color: #fff;
	background-color: #000033;
	border-color: #000033;
}

.btn-green {
	color: #fff;
	background-color: #35812C;
	border-color: #35812C;
}

.btn-green:active {
	background-color: #35812C;
	border-color: #35812C;
}

.btn-green:focus {
	background-color: #35812C;
	border-color: #35812C;
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-green:visited {
	background-color: #35812C;
	border-color: #35812C;
}

.btn-green:hover {
	color: #fff;
	background-color: #35812C;
	border-color: #35812C;
}


.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #35812C;
    border-color: #000;
}

.datepicker table tr td.active:active:hover, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active:active:focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active:active.focus, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.active.focus, .datepicker table tr td.active.highlighted.active.focus {
    color: #fff;
    background-color: #35812C;
    border-color: #000;
}

.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    /*background: #75b540;*/
    cursor: pointer;
}

.form-control {
	border: 1px solid #75b540;
}
	
.form-control:focus {
	border-color: #75b540;
	box-shadow: 0 0 0 0.2rem #75b540;
}

.action-panel-control-container{
	/*display: flex;*/
	min-width: 175px;
}

.truncate {
  /*width: 250px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}