/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Custom Branding
-------------------------------------------------- */
.navbar-dark{
	background-color: #000033 !important;
}

#site-logo{
	display: inline-block;
	height: 56px;
	width: 56px;
	background-image: url("../img/rt_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	margin-top: -.5rem;
	margin-bottom: -.5rem;
	margin-left: -.5rem;
}

#left-panel{
	background-color: #75b540;
	color: white;
	height: 100%;
	overflow: auto;
	white-space: nowrap;
}

.footer {
  background-color: #555 !important;
}

.btn-primary {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-primary:active {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:focus {
	background-color: #75b540;
	border-color: #75b540;
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-primary:visited {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:hover {
	background-color: #75b540;
	border-color: #75b540;
}