/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Layout
-------------------------------------------------- */
.navbar-dark{
	background-color: #000033 !important;
}

#site-logo{
	display: inline-block;
	height: 56px;
	width: 56px;
	background-image: url("../img/rt_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	margin-top: -.5rem;
	margin-bottom: -.5rem;
	margin-left: -.5rem;
}

#left-panel{
	/*background-color: #75b540;*/
	background-color: #38882f;
	color: white;
	height: 100%;
	overflow: auto;
	white-space: nowrap;
}

.footer {
  background-color: #555 !important;
}

/* Modals
-------------------------------------------------- */

.modal-header>span{
	display: inline-block;
	height: 25px;
	width: 150px;
	background-image: url("../img/gilbyim_logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}


/* Buttons
-------------------------------------------------- */
.btn-indigo {
	color: #fff;
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:active {
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:focus {
	background-color: #000033;
	border-color: #000033;
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-indigo:visited {
	background-color: #000033;
	border-color: #000033;
}

.btn-indigo:hover {
	color: #fff;
	background-color: #000033;
	border-color: #000033;
}

.btn-green {
	color: #fff;
	background-color: #38882f;
	border-color: #38882f;
}

.btn-green:active {
	background-color: #38882f;
	border-color: #38882f;
}

.btn-green:focus {
	background-color: #38882f;
	border-color: #38882f;
	box-shadow: 0 0 0 0.2rem #fff;
}

.btn-green:visited {
	background-color: #38882f;
	border-color: #38882f;
}

.btn-green:hover {
	color: #fff;
	background-color: #38882f;
	border-color: #38882f;
}
