/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #5f5e5e !important;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* Neal's Stuff
-------------------------------------------------- */
.navbar-dark{
	background-color: #000033 !important;
}

.btn-primary {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:active {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:focus {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-primary:visited {
	background-color: #75b540;
	border-color: #75b540;
}

.btn-outline-success {
    color: #75b540;
    background-color: transparent;
    background-image: none;
    border-color: #75b540;
}


.btn-outline-success:hover {
    color: #fff;
    background-color: #75b540;
    border-color: #75b540;
}